@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --gray-900: #181d27;
  --main-green: #039122;
  --white: #ffffff;
  --brown-800: #ca7f4d;
  --gray-400: #a4a7ae;
  --light-green: #ddfde4;
}
body {
  font-family: "Raleway", sans-serif;
}
.navbar {
  font-weight: 500;
  font-size: 18px;
  padding: 16px;
}



.nav-link {
  color: var(--gray-900);
}
.sign-up-btn {
  background-color: var(--main-green);
  color: var(--white);
  border-radius: 6px;
  padding: 11px 42px;
  border: none;
  margin-right: 20px;
}
.sign-in-btn {
  color: var(--brown-800);
  border-radius: 6px;
  padding: 11px 19px;
  border: 1px solid var(--brown-800);
}
@media (max-width: 500px) {
      .navbar {
    padding: 20px 0;
  }
}

/* HERO SECTION IS HOMEWORK */